# style.css

body {
			background-color: gray;
		}
		h1 {
			color: blue;
			text-align: center;
		}

		h2 {
			color: purple;
			text-align: left;
		}

		ul {
			text-align: left;
		}

		p {
			font-size: 16px;
			color: rgb(00, 200, 50);
			border: 5px solid;
			box-sizing: border-box;
			width: 200px;
			height: 250px;
		}

		@media (min-width: 1200px) {
			p {
				width: 80%;
				height: 10%;
			}
		}

		@media (min-width: 992px) and (max-width: 1199px) {
			p {
				width: 50%;
				height: 10%;
			}
		}

		@media (min-width: 10px) and (max-width: 991px) {
			p {
				width: 25%;
				height: 10%;
			}
		}


